/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}


header,
.flex ,
footer {

display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;

}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: #222;
  background: #FFFFFF;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */


.main-nav {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 340px;
  

  }

.main-nav li {

margin-top: 10px;
padding: 10px;
  background: #BFBFBF;

}

.profile{

display: flex;
height: 200px;
width: 300px;
align-items: center;
margin: 20px;
  background-color: #F1F0F8;
}

.profile-image {

  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.intro{


}


.skills ,
.port-img {

  
  max-width: 90%;
  padding: 0;
  margin: 0;
}
.address {
  display: inline-block;
max-width: 90%;
text-align: center;
border-bottom:2px solid #BABABA;

}

footer{
display: flex;
flex-direction: row;
justify-content: space-around;


}





/* Media queries */

@media(min-width: 678px ){




}

@media(min-width: 1024px){




}


















