/* Global Layout Set-up */

* {box-sizing: border-box;}




.main-header,
.main-content,
footer,
.intro,
.contact{
display: flex;
flex-direction: column;
align-items: center;
width: 100% ;
max-width: 1150px;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: #222;
  background: #C7DAEC;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #26407C;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */


.main-header,
.intro{
padding-bottom: 40px;

}

.main-nav {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 90%;
  }

.main-nav li {
  margin: 10px 0;
  background: #BFBFBF;
  transition: all .5s;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.19)
}

.main-nav a {
  
   display: inline-block;
   width: 100%;
   padding: 10px 12px;
   cursor: pointer;
}

.profile{
 display: flex;
 height: 200px;
 width: 80%;
 background-color: #F8F1FF;
 box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19) ; 
 }

.profile-image {
  max-width: 70%;
  max-height: 80%;
  border-radius: 50%;
  margin: auto ;
  transition: all .5s;
 }

 .bio{
  max-width: 80%
 }

 .bio p{
  font-size: 1.3em;
 }

.portfolio,
.skills ,
.port-img ,
.contact p{
  max-width: 90%;
  padding: 0;
  margin: 0;
  transition: all .5s;
  }
 
  .main-nav li:hover,
  .profile-image:hover,
  .portfolio img:hover,
  .skills img:hover{
    transform: scale(1.1) ;
  }

  .main-content{
    padding: 40px 0;
    background-color: #E4F1FF
  }

  .portfolio{
    border-bottom:2px solid #BABABA;
  }

  .portfolio p {
    margin: 40px 0;

  }

  #portfolio,
  #skills{
    padding-bottom: 1em;
    color: #172648
  }

 .contact{
   width: 90%;
   margin: auto;
   text-align: center;
   padding-bottom: 30px;
   border-bottom:2px solid #BABABA;
 }

 .contact p,
   h4 {
   margin: 10px 0;
   }

 footer{
   width: 90%;
   margin: auto;
   flex-direction: row;
   justify-content: space-between;
 }

 .bottom-nav{
   display: none;
 }





/* =================Media queries=================== */

@media(min-width: 768px ) {
.main-nav,
.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

  .main-nav{
    width:60%; 
  }

  .main-nav li{
    margin-right: 15px;
    width: 300px;
  }

.intro{
  display: inline-block;
  margin: auto;
  width:90%;
  }

   .bottom-nav a {
    margin: 0 10px;
  }
  .profile{
    width: 50%;
    float: right;
  }

  .bio  {
    text-align: left;
    width: 50%;
    padding-right: 1em;
  }
  
.portfolio p {
  margin: auto;
  margin-bottom: 15px;  
  }


.portfolio,
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  }


  .portfolio li,
  .skills li{
  width: 50%;
  }


  .portfolio p{
    width: 80%
  }

  .contact p{
    width: 60%

  }

  #hide-anchor{
    display: none;
  }


}

@media(min-width: 1024px){

   .main-header{  
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  .main-nav{
    width: 40%
  }

  .bio p{
    width: 90%;
  }

  .portfolio li,
   .skills li{
   width: 33%
  }

  .main-content{
    width: 90%;
    margin: auto;
  } 


  
  
